/* é */
* {
    box-sizing: border-box;
}
:host {
    font-size: .9rem;
    font-family: var(--font-family);
}
.hidden {
    display: none !important;
}
svg {
    width: 0;
    height: 0;
    background: transparent;
}
svg line {
    stroke: rgba(0,0,0,.1);
}
svg:where(.information, .color-blue) line {
    stroke: var(--color-blue);
}
svg:where(.warning, .color-orange) line {
    stroke: var(--color-orange);
}
svg:where(.success, .color-green) line {
    stroke: var(--color-green);
}
svg:where(.critical, .color-red) line {
    stroke: var(--color-red);
}
svg:where(.color-gold) line {
    stroke: var(--color-gold);
}
svg:where(.color-magenta) line {
    stroke: var(--color-magenta);
}
svg:where(.color-purple) line {
    stroke: var(--color-purple);
}
aside.message {
    position: fixed;
    top: 0;
    height: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .3em;

    padding: .4em .4em;
    min-width: 2em;
    height: 2em;
    background: #fff;
    color: #000;
    border-radius: .4em;
    box-shadow: 0 .1em .4em rgba(0,0,0,.1);

    translate: -1em .2em;
}
aside.message:not(.success, .warning, .information, .critical) {
    color: var(--color-grey-darker);
}
aside.message span.icon {
    display: inline-block;
    font-family: FontAwesome;
    width: 1.28571429em;
    text-align: center;
    color: var(--color-grey);
}
aside.message span.icon::before {
    content: attr(data-icon);
    color: var(--color-grey);
}
aside.message:where(.information, .color-blue) span.icon::before {
    color: var(--color-blue);
}
aside.message:where(.success, .color-green) span.icon::before {
    color: var(--color-green);
}
aside.message:where(.warning, .color-orange) span.icon::before {
    color: var(--color-orange);
}
aside.message:where(.critical, .color-red) span.icon::before {
    color: var(--color-red);
}
aside.message.color-purple span.icon::before {
    color: var(--color-purple);
}
aside.message.color-gold span.icon::before {
    color: var(--color-gold);
}
aside.message.color-magenta span.icon::before {
    color: var(--color-magenta);
}
